@font-face {
  font-family: 'Impact';
  src: url(/web/20170702002900im_/http://www.fuvest.br/fonts/impactreg.woff);
}
@font-face {
  font-family: 'FontAwesome';
  src: url(/web/20170702002900im_/http://www.fuvest.br/fonts/fontawesome-webfont.woff);
}
@font-face {
  font-family: 'Lato';
  src: url(/web/20170702002900im_/http://www.fuvest.br/fonts/Lato-Medium.woff);
}
@font-face {
  font-family: 'Lato';
  src: url(/web/20170702002900im_/http://www.fuvest.br/fonts/Lato-Bold.woff);
  font-weight: bold;
}
@font-face {
  font-family: 'Raleway';
  src: url(/web/20170702002900im_/http://www.fuvest.br/fonts/raleway-medium-webfont.woff);
}
@font-face {
  font-family: 'Raleway';
  src: url(/web/20170702002900im_/http://www.fuvest.br/fonts/raleway-bold-webfont.woff);
  font-weight: bold;
}

.ps-container .ps-scrollbar-x-rail{position:absolute;bottom:3px;height:8px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;opacity:0;filter:alpha(opacity=0);-o-transition:background-color .2s linear,opacity .2s linear;-webkit-transition:background-color.2s linear,opacity .2s linear;-moz-transition:background-color .2s linear,opacity .2s linear;transition:background-color .2s linear,opacity .2s linear}.ps-container:hover .ps-scrollbar-x-rail,.ps-container.hover .ps-scrollbar-x-rail{opacity:.6;filter:alpha(opacity=60)}.ps-container .ps-scrollbar-x-rail:hover,.ps-container .ps-scrollbar-x-rail.hover{background-color:#eee;opacity:.9;filter:alpha(opacity=90)}.ps-container .ps-scrollbar-x-rail.in-scrolling{opacity:.9;filter:alpha(opacity=90)}.ps-container .ps-scrollbar-y-rail{position:absolute;right:3px;width:8px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;opacity:0;filter:alpha(opacity=0);-o-transition:background-color .2s linear,opacity .2s linear;-webkit-transition:background-color.2s linear,opacity .2s linear;-moz-transition:background-color .2s linear,opacity .2s linear;transition:background-color .2s linear,opacity .2s linear}.ps-container:hover .ps-scrollbar-y-rail,.ps-container.hover .ps-scrollbar-y-rail{opacity:.6;filter:alpha(opacity=60)}.ps-container .ps-scrollbar-y-rail:hover,.ps-container .ps-scrollbar-y-rail.hover{background-color:#eee;opacity:.9;filter:alpha(opacity=90)}.ps-container .ps-scrollbar-y-rail.in-scrolling{opacity:.9;filter:alpha(opacity=90)}.ps-container .ps-scrollbar-x{position:absolute;bottom:0;height:8px;background-color:#aaa;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-o-transition:background-color .2s linear;-webkit-transition:background-color.2s linear;-moz-transition:background-color .2s linear;transition:background-color .2s linear}.ps-container.ie6 .ps-scrollbar-x{font-size:0}.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x,.ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x{background-color:#999}.ps-container .ps-scrollbar-y{position:absolute;right:0;width:8px;background-color:#aaa;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-o-transition:background-color .2s linear;-webkit-transition:background-color.2s linear;-moz-transition:background-color .2s linear;transition:background-color .2s linear}.ps-container.ie6 .ps-scrollbar-y{font-size:0}.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y,.ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y{background-color:#999}.ps-container.ie .ps-scrollbar-x,.ps-container.ie .ps-scrollbar-y{visibility:hidden}.ps-container.ie:hover .ps-scrollbar-x,.ps-container.ie:hover .ps-scrollbar-y,.ps-container.ie.hover .ps-scrollbar-x,.ps-container.ie.hover .ps-scrollbar-y{visibility:visible}

A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover{text-decoration: underline}

* {
  margin:0px;
  /*padding:0px;*/
  /*border: 0px;  */
}
    
body {
  padding:0px;
  margin:0px;
  background-color:rgb(54,54,73);
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/bodyback.png);
  background-repeat:repeat-x;
  font-family:helvetica;
  font-size:10pt;
}
    
.cHideFromVisual {
  position:absolute;
  top:0px;
  left:-9000px;
}

.cApenasLeia {
  display:none;
  visibility:hidden;
  speak:normal;
}   
    
#idTRHeader {
  float:left;
  width:250px;
}

#idTRGNews {
  float:left;
  width:500px;
  height:90px;
  font-family:helvetica;
  overflow:hidden;
  speak:none;
}

#idMainDIV {
  width:900px;
  margin:auto;
  position:relative;
  margin-bottom:20px;  
}

#idDIVBottom{
  width:900px;
  height:22px;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/fundo_footer.png);  
}

#idTopDIV {
  height:115px;
  padding-left:10px;
  padding-top:5px;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/fundo_principal.png);
  margin-top:40px;
}

*.cHideFromPrint {
  visibility:visible;
}

div.cBoletoHideFromPrint {
  visibility: visible;
  margin:0px 2px 2px 2px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 220);
  font-family: Georgia;
  font-size: 12pt;
  text-align: center;
  border: 1px dashed rgb(255, 128, 128);  
}

@media print { 

 *.cHideFromPrint {
   display:none; 
 }
 
 div.cBoletoHideFromPrint {
   display:none;  
 }
 
 #idTopDIV  {
   display:none; 
 }
 
 #idDIVFEstat  {
   display:none; 
 }
 
}

div.cDIVEInfo {
  width:900px;
}

div.cAtencao { 
  margin:10px;
  padding:10px;
  border: dashed 1px gray;
  background-color:rgb(255,255,180);
  font-family:helvetica;
  font-size:10pt;
  text-align:justify;
}

div.cAtencao p { 
  margin:2px 0px 2px 0px;
}

p.cAtencao {
  font-size:16pt;
  text-align:center;
  font-weight:bold;
}

div.cDIVEInfoG {
  padding-left:10px;
  padding-top:5px;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/fundo_principal.png); 
}

#idDIVFooter {
  padding:10px;
  font-family:arial;
  font-size:8pt;
  text-align:center;
  clear:both;
  height:30px;
}

#idClientDIV {
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/fundo_principal.png);  
  clear:both;
}

#idDIVMainMenu {
 }
 
#idPageDIV {
  float:left;
  width:900px
}

#idPageDIVContent {
  margin:0px 0px 0px 10px;
  width:860px;  
  padding:0px 10px 0px 10px;
  background-color:#e1e1ff;  
  position:relative;
}

#idPageDIVContentTop {
  margin:0px 0px 0px 10px;
  padding:0px;
  width:880px;
  height:8px;
  font-size:1px;
  line-height:1px;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/rounde1e1fftop880px.gif)
}

#idPageDIVContentBot {
  margin:0px 0px 0px 10px;
  padding:0px;
  width:880px;
  height:8px;
  font-size:1px;
  line-height:1px;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/rounde1e1ffbot880px.gif)
}
  
div.cHeadPageOutros {
  width:880px;
  height:40px;
  margin:0px 0px 0px 10px;
  background-repeat:no-repeat;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/foutros.gif);
}    
	
div.cHeadPageOut {
  width:880px;
  height:40px;
  margin:0px 0px 0px 10px;
  background-repeat:no-repeat;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/foutros.gif);
}    
	
div.cHeadPageFVest {
  width:880px;
  height:40px;
  margin:0px 0px 0px 10px;
  background-repeat:no-repeat;
  background-image: url(/web/20170702002900im_/http://www.fuvest.br/img/fvesti.gif);
}

div.cHeadPageTrans {
  width:880px;
  height:40px;
  margin:0px 0px 0px 10px;
  background-repeat:no-repeat;
  background-image: url(/web/20170702002900im_/http://www.fuvest.br/img/ftrans.gif);
}

div.cHeadPageNovid {
  width:880px;
  height:40px;
  margin:0px 0px 0px 10px;
  background-repeat:no-repeat;
  background-image: url(/web/20170702002900im_/http://www.fuvest.br/img/fnovid.gif);
}

div.cHeadPageEmail {
  width:880px;
  height:40px;
  margin:0px 0px 0px 10px;
  background-repeat:no-repeat;
  background-image: url(/web/20170702002900im_/http://www.fuvest.br/img/femail.gif);
}

div.cHeadPageFNovid {
  width:880px;
  height:40px;
  margin:0px 0px 0px 10px;
  background-repeat:no-repeat;
  background-image: url(/web/20170702002900im_/http://www.fuvest.br/img/fnovid.gif);
}

div.cHeadPageTNovid {
  width:880px;
  height:40px;
  margin:0px 0px 0px 10px;
  background-repeat:no-repeat;
  background-image: url(/web/20170702002900im_/http://www.fuvest.br/img/fnovid.gif);
}


div.cHeadPageFEstat {
  width:880px;
  height:40px;
  margin:0px 0px 0px 10px;
  background-repeat:no-repeat;
  background-image: url(/web/20170702002900im_/http://www.fuvest.br/img/festat.gif);
}

div.cHeadPageTEstat {
  width:880px;
  height:40px;
  margin:0px 0px 0px 10px;
  background-repeat:no-repeat;
  background-image: url(/web/20170702002900im_/http://www.fuvest.br/img/festat.gif);
}

div.cHeadPageFManu {
  width:880px;
  height:40px;
  margin:0px 0px 0px 10px;
  background-repeat:no-repeat;
  background-image: url(/web/20170702002900im_/http://www.fuvest.br/img/fmanua.gif);
}

div.cHeadPageTManu {
  width:880px;
  height:40px;
  margin:0px 0px 0px 10px;
  background-repeat:no-repeat;
  background-image: url(/web/20170702002900im_/http://www.fuvest.br/img/fmanua.gif);
}

div.cHeadPageFList {
  width:880px;
  height:40px;
  margin:0px 0px 0px 10px;
  background-repeat:no-repeat;
  background-image: url(/web/20170702002900im_/http://www.fuvest.br/img/flista.gif);
}

div.cHeadPageTList {
  width:880px;
  height:40px;
  margin:0px 0px 0px 10px;
  background-repeat:no-repeat;
  background-image: url(/web/20170702002900im_/http://www.fuvest.br/img/flista.gif);
}

div.cHeadPageFProva {
  width:880px;
  height:40px;
  margin:0px 0px 0px 10px;
  background-repeat:no-repeat;
  background-image: url(/web/20170702002900im_/http://www.fuvest.br/img/fprova.gif);
}

div.cHeadPageTProva {
  width:880px;
  height:40px;
  margin:0px 0px 0px 10px;
  background-repeat:no-repeat;
  background-image: url(/web/20170702002900im_/http://www.fuvest.br/img/fprova.gif);
}

div.cHeadPageFCalend {
  width:880px;
  height:40px;
  margin:0px 0px 0px 10px;
  background-repeat:no-repeat;
  background-image: url(/web/20170702002900im_/http://www.fuvest.br/img/fcalen.gif);
}

div.cHeadPageTCalend {
  width:880px;
  height:40px;
  margin:0px 0px 0px 10px;
  background-repeat:no-repeat;
  background-image: url(/web/20170702002900im_/http://www.fuvest.br/img/fcalen.gif);
}

div.cHeadPageFInform {
  width:880px;
  height:40px;
  margin:0px 0px 0px 10px;
  background-repeat:no-repeat;
  background-image: url(/web/20170702002900im_/http://www.fuvest.br/img/finfor.gif);
}

div.cHeadPageTInform {
  width:880px;
  height:40px;
  margin:0px 0px 0px 10px;
  background-repeat:no-repeat;
  background-image: url(/web/20170702002900im_/http://www.fuvest.br/img/finfor.gif);
}


span.cGoto {
  font-family: helvetica;
  font-size: 9pt;
  font-weight: bold;
  color: black;
}

p.cMenu {
  font-family: Helvetica;
  font-size: 8pt;
  text-align: center;
  margin: 0px;
  line-height:0px;
}

tr.cTRHeader {
  border: solid 1px black;
  vertical-align: middle;
  height: 64px;
}

p.cDefault {
  font-family: helvetica;
  font-size: 10pt;
  text-align: justify;
}

p.cTitle {
  font-family:helvetica;
  font-size:14pt;
  text-align:justify;
  font-weight:bold;
  margin-top:0px;
}

p.cSubTitle {
  font-family:helvetica;
  font-size:12pt;
  text-align:justify;
  font-weight:bold;
  margin:4px 0px 4px 0px;
}

p.cTitle2 {
  font-family:helvetica;
  font-size:12pt;
  text-align:justify;
  font-weight:bold;
}

p.fuvPDFDownload {
  font-family:helvetica;
  font-size:8pt;
  text-align:right;  
}

p.cWarnL {
  font-family: helvetica;
  font-size: 16pt;
  text-align: center;
  font-weight: bold;
}

div.cHeadPageFMenu {
  height: 16px;
  font-family: helvetica;
  font-size: 8pt;
  text-align: center;
}

div.idSmallLinks {
  font-family:helvetica;
  font-size:8pt;
  text-align:center;
  font-weight:bold;
}

div.cVestNews {
  float:right;
  width:180px;
  margin-left:10px;
  text-align:left;
  font-family:helvetica;
  font-size:8pt;
}

table.cF {
  empty-cells:show;
  width:100%;
  border:none;
}

td.cFUL {
  width:14px;
  height:14px;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/ful.gif);
  font-size:0px;
  line-height:0px;
  border:solid 1px black;
}

td.cFUM {
  height:16px;
  background-color:#E1E10F;
  font-size:0px;
  line-height:0px;
}

td.cFBM {
  width:100%;
  height:16px;
  background-color:#E1E10F;
  font-size:0px;
  line-height:0px;
}

td.cFUR {
  width:16px;
  height:16px;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/fur.gif);
  font-size:0px;
  line-height:0px;
  empty-cells:show;
}

td.cFBL {
  width:16px;
  height:16px;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/fbl.gif);
  font-size:0px;
  line-height:0px;
  empty-cells:show;
}

td.cFBR {
  width:16px;
  height:16px;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/fbr.gif);
  font-size:0px;
  line-height:0px;
  empty-cells:show;
}


td.cFML {
  width:16px;
  background-color:#E1E1FF;
  font-size:0px;
  line-height:0px;
}

td.cFMR {
  width:16px;
  background-color:#E1E1FF;
  font-size:0px;
  line-height:0px;
}

td.cFMM {
  background-color:#E1E10F;
}

p.cItemTitle {
  font-family:helvetica;
  margin:5px 0px 2px 0px;
  font-weight:bold;
  font-size:12pt;
}

p.cItemText {
  font-family:helvetica;
  margin:2px 0px 2px 0px;
  font-size:10pt;
}

p.cSeeAlso {
  font-family:helvetica;
  margin:2px 0px 2px 0px;
  font-weight:bold;
  font-size:8pt;
}

p.cSeeAlsoItem {
  font-family:helvetica;
  margin:0px 0px 0px 20px;
  font-size:8pt;
}

p.cF2B {
  font-family:helvetica;
  font-size:12pt;
  font-weight:bold;
  margin:2px 0px 0px 0px;
  text-align:justify;
}

p.cF2 {
  font-family:helvetica;
  font-size:10pt;
  margin:0px;
  text-align:justify;
}


div.fuvInfo {
  margin:0px 2px 10px 2px;
  padding:10px;
  background-color:rgb(255, 255, 220);  
  font-family:helvetica;
  font-size:12pt;
  text-align:justify;  
  border-bottom:1px solid silver;
  border-left:1px solid silver;
  border-right:1px solid silver;
  border-top:1px solid silver;
}

div.fuvAtt {
  margin:0px;
  padding:10px;
  /*background-color:rgb(255, 220, 220);*/
  background-image:url('/web/20170702002900im_/http://www.fuvest.br/img/warning.png');
  background-repeat:no-repeat;
  background-position:center center;     
  font-family:helvetica;
  font-size:12pt;
  text-align:justify;  
  /*
  border-bottom:1px solid silver;
  border-left:1px solid silver;
  border-right:1px solid silver;
  border-top:1px solid silver;
  */
}

p.cNoNews {
  color:silver;
  font-family:helvetica;
  font-style:italic;
  text-align:center;
  font-size:12pt;
  padding:4px;
  background-color:rgb(255,255,230);
  border:solid 1px gray;
}

p.cDescr {
  text-align:justify;
  font-family:helvetica;
  font-size:12pt;
  margin:2px;
  line-height:16pt;
}

p.cDefaultNM {
 margin:0px; 
}

p.cDefaultNMB {
 margin:0px; 
 font-weight:bold;
}

span.fuvBold { 
 font-weight:bold;
}

div.G {
  font-size:0px;
  line-height:0px;
  border:solid 1px black;
  position:absolute;
}

div.GV {
  font-size:0px;
  line-height:0px;
  border-left:solid 1px gray;
  position:absolute;
}

div.GH {
  font-size:0px;
  line-height:0px;
  border-top:solid 1px gray;
  position:absolute;
}

div.GT {
  font-size:10px;
  line-height:10px;
  border:none;
  position:absolute;
  color:black;
  font-family:helvetica;
  text-align:center;
}

a.cASmallButton {
  display:block;
  float:right;
  width:13px;
  height:18px;
}

div.cASmallButton {
  display:block;
  float:right;
  width:13px;
  height:18px;
  font-size:9pt;
  margin:0px;
  padding:0px;
  line-height:0px;
}

a.cASmallButton:hover {
  width:11px;
  height:16px;
  background-color:rgb(255,200,200);
  border-top:solid 1px gray;
  border-left:solid 1px gray;
  border-bottom:solid 1px white;
  border-right:solid 1px white;  
}

a.cSmallButton {
  display:block;
  float:left;
  width:13px;
  height:18px;
}

a.cSmallButton:hover {
  width:11px;
  height:16px;
  background-color:rgb(255,200,200);
  border-top:solid 1px gray;
  border-left:solid 1px gray;
  border-bottom:solid 1px white;
  border-right:solid 1px white;  
}

div.cSmallButton {
  display:block;
  float:left;
  width:13px;
  height:18px;
}


p.cPIITop {
  margin:0px 0px 0px 0px;
  text-align:right;
  font-family:helvetica;
  font-weight:bold;
  font-size:14pt;
}

p.cPIIData{
  margin:0px 0px 0px 0px;
  text-align:right;
  font-family:helvetica;
  font-size:8pt;
}

p.cPIITitle {
  margin:30px 0px 10px 0px;
  text-align:center;
  font-family:helvetica;
  font-weight:bold;
  font-size:14pt;
}

p.cPIISubTitleC {
  margin:20px 0px 10px 0px;
  text-align:center;
  font-family:helvetica;
  font-size:12pt;
  font-weight:bold;
}

p.cPIIDef {
  margin:10px 0px 10px 0px;
  text-align:justify;
  font-family:helvetica;
  font-size:12pt;
}

p.cPIIDefL1 {
  margin:10px 0px 10px 20px;
  text-align:justify;
  font-family:helvetica;
  font-size:12pt;
}

p.cPIIDefL1B {
  margin:10px 0px 10px 20px;
  text-align:justify;
  font-family:helvetica;
  font-size:12pt;
  font-weight:bold;
}


p.cPIIDefL2 {
  margin:10px 0px 10px 40px;
  text-align:justify;
  font-family:helvetica;
  font-size:12pt;
}

p.cPIIDefL2B {
  margin:10px 0px 10px 40px;
  text-align:justify;
  font-family:helvetica;
  font-size:12pt;
  font-weight:bold;
}

p.cPIIDefL3 {
  margin:10px 0px 10px 60px;
  text-align:justify;
  font-family:helvetica;
  font-size:12pt;
}

p.cPIIDefL4 {
  margin:10px 0px 10px 80px;
  text-align:justify;
  font-family:helvetica;
  font-size:12pt;
}

p.cPIIDefL5 {
  margin:10px 0px 10px 100px;
  text-align:justify;
  font-family:helvetica;
  font-size:12pt;
}

p.cPIIDefB {
  margin:10px 0px 10px 0px;
  text-align:justify;
  font-family:helvetica;
  font-size:12pt;
  font-weight:bold;
}

p.cPIIDefLB {
  margin:10px 0px 2px 0px;
  text-align:justify;
  font-family:helvetica;
  font-size:12pt;
  font-weight:bold;
}

p.cPIIDefL {
  margin:2px 0px 2px 0px;
  text-align:justify;
  font-family:helvetica;
  font-size:12pt;
}

p.cPIIDefLL1 {
  margin:2px 0px 2px 30px;
  text-align:justify;
  font-family:helvetica;
  font-size:12pt;
}

p.cPIIDefLBL1 {
  margin:10px 0px 2px 30px;
  text-align:justify;
  font-family:helvetica;
  font-size:12pt;
  font-weight:bold;  
}


p.cPIISeeAlso {
  margin:2px 0px 2px 60px;
  text-align:justify;
  font-family:helvetica;
  font-size:8pt;
  font-weight:bold;
}

p.cDOTop0 {
  font-family:helvetica;
  font-weight:bold;
  font-size:24pt;
  text-align:left;
  letter-spacing:-2px;
  margin:0px 0px 5px 0px;
}

p.cDOTop1 {
  font-family:helvetica;
  font-size:14pt;
  text-align:left;
  letter-spacing:-1px;
  color:gray;
  margin:10px 0px 10px 0px;
  border-bottom:solid 1px black;
  width:400px;
}

p.cDOTop2 {
  font-family:helvetica;
  font-size:14pt;
  text-align:left;
  letter-spacing:-1px;
  line-height:14pt;
  color:black;
  margin:10px 0px 10px 0px;
  border-bottom:solid 1px black;
  width:400px;
}

p.cDOTop3 {
  font-family:helvetica;
  font-size:14pt;
  font-weight:bold;
  text-align:left;
  letter-spacing:-1px;
  line-height:14pt;
  color:black;
  margin:10px 0px 10px 40px;
}

p.cDOTop4 {
  font-family:helvetica;
  font-size:14pt;
  text-align:left;
  letter-spacing:-1px;
  line-height:14pt;
  color:black;
  margin:10px 0px 10px 40px;
}

p.cDODefault {
  font-family:helvetica;
  font-size:12pt;
  text-align:justify;
  color:black;
  margin:10px 0px 10px 0px;
  text-indent:40px;
}


div.cML {
  float:left;
  font-size:0px;
  line-height:0px;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/backmenu_left.png);
  width:12px;
  height:32px;
}

div.cMR {
  float:left;
  font-size:0px;
  line-height:0px;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/backmenu_right.png);
  width:12px;
  height:32px;
}

div.cMM {
  float:left;
  font-size:12px;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/backmenu_middle.png);
  height:24px;
  padding:8px 2px 0px 2px;
  font-family:helvetica;
  color:black;
  font-size:9pt;
  font-weight:bold;
}

div.cML1 {
  float:left;
  font-size:0px;
  line-height:0px;
  width:12px;
  height:32px;
}

div.cMR1 {
  float:left;
  font-size:0px;
  line-height:0px;
  width:12px;
  height:32px;
}

div.cMM1 {
  float:left;
  font-size:12px;
  height:24px;
  padding:8px 2px 0px 2px;
  font-family:helvetica;
  color:black;
  font-size:9pt;
  font-weight:bold;
}

a.cAM {
  color:black;
}

a.cAM:hover {
  color:rgb(32,32,32);
  text-decoration:none;
}

div.cTopUserInfoDiv {
  position:absolute;
  top:4px;
  left:680px;
  width:210px;
  height:26px;
  padding:2px;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/backshadow25.png);
}

div.cTopUserInfoDiv p {
  margin:0px;
  font-family:helvetica;
  font-size:7pt;
  text-align:right;
}

div.cSMenuTL {
  clear:both;
  float:left;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/backmenu_upper_left.png);
  width:12px;
  height:12px;
  font-size:0px;
}

div.cSMenuTM {
  float:left;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/backmenu_upper_middle.png);
  width:12px;
  height:12px;
  font-size:0px;
}

div.cSMenuTR {
  float:left;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/backmenu_upper_right.png);
  width:12px;
  height:12px;
  font-size:0px;
}

div.cSMenuBL {
  clear:both;
  float:left;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/backmenu_bottom_left.png);
  width:12px;
  height:12px;
  font-size:0px;
}

div.cSMenuBM {
  float:left;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/backmenu_bottom_middle.png);
  width:12px;
  height:12px;
  font-size:0px;
}

div.cSMenuBR {
  float:left;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/backmenu_bottom_right.png);
  width:12px;
  height:12px;
  font-size:0px;
}


div.cSMenuL {
  clear:both;
  float:left;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/backmenu_left_s.png);
  width:12px;
  height:12px;
  font-size:0px;
}

div.cSMenuR {
  float:left;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/backmenu_right_s.png);
  width:12px;
  height:12px;
  font-size:0px;
}

div.cSMenuM {
  float:left;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/backmenu_middle_s.png);
  width:12px;
  height:12px;
  font-family:Arial;
  font-size:12pt;
  font-weight:bold;
}


div.cSMenuM a {
  color:black;
  display:block;
  height:20px;
  padding:2px 4px 0px 4px;
  border-top: solid 1px silver;
  border-left: solid 1px silver;
  border-right: solid 1px gray;
  border-bottom: solid 1px gray;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/backmenu_a.png);
}

div.cSMenuM a:hover {
  color:white;
  background-color:black;
  text-decoration:none;
  border-top: solid 1px gray;
  border-left: solid 1px gray;
  border-right: solid 1px silver;
  border-bottom: solid 1px silver;
  background-image:none;  
}

div.cSMenu {
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/fundo_submenu.png);
  border-top:solid 1px rgb(200,200,255);
  border-left:solid 1px rgb(200,200,255);
  border-bottom:solid 1px rgb(100,100,128);
  border-right:solid 1px rgb(100,100,128);
  font-family:helvetica;
  font-size:10pt;
  font-weight:bold;
  color:white;
  padding:4px;
}

div.cSMenu a {
  color:black;
  display:block;
  height:18px;
  padding:2px 4px 0px 4px;
}

div.cSMenu a:hover {
  color:navy;
  background-color:white;
  text-decoration:none;
}

div.c8x8 {
  float:left;
  font-size:0px;
  line-height:0px;
  width:8px;
  height:8px;
}

p.cInfo {
  font-family:helvetica;
  font-size:12pt;
  color:red;
  text-align:center;
  font-weight:bold; 
  margin:4px 0px 8px 0px;
  line-height:16pt;
}

p.cInfoLarge {
  font-family:helvetica;
  font-size:20pt;
  color:red;
  text-align:center;
  font-weight:bold;
  margin:4px 0px 8px 0px;
  line-height:20pt;
}

p.cInfoTitle {
  font-family: helvetica;
  font-weight: bold;
  font-size: 9pt; 
  margin: 0px 0px 0px 0px;
}

p.cInfoVal {
  font-family: helvetica;
  font-weight: normal;
  font-size: 7pt; 
  margin: 0px 0px 5px 10px;
}

p.cInfoVal0 {
  font-family: helvetica;
  font-weight: normal;
  font-size: 7pt; 
  margin: 0px 0px 0px 10px;
}

p.cInfoTitleC {
  font-family: helvetica;
  font-weight: bold;
  font-size: 11pt; 
  margin: 0px 0px 0px 0px;
  text-align: center;
}

p.cInfoTitleN {
  font-family: helvetica;
  font-weight: bold;
  font-size: 7pt; 
  margin: 0px 0px 10px 0px;
  text-align: center;
}

div.cVestInfo {
  float:right;
  width:194px;
}

p.cVestInfo{
  font-family:helvetica;
  font-size:14pt;
  font-weight:bold;
  text-align:center;
  margin:4px 0px 4px 0px;
}


p.cVestInfoTitle {
  font-family:helvetica;
  font-size:10pt;
  font-weight:bold;
  text-align:left;
  margin:4px 0px 0px 0px;
}

p.cVestInfoNumber {
  font-family:helvetica;
  font-size:12pt;
  text-align:right;
  margin:0px;
}

p.cVestInfoDate {
  font-family:helvetica;
  font-size:9pt;
  text-align:right;
  margin:0px;
}

input.btn{
 color:#050;
 background-color: rgb(255, 255, 200);
 font-family:'trebuchet ms',helvetica,sans-serif;
 font-size:84%;
 font-weight:bold;
 border-top: solid 1px rgb(200, 200, 200);
 border-left: solid 1px rgb(200, 200, 200);
 border-bottom: solid 1px rgb(80, 80, 80);
 border-right: solid 1px rgb(80, 80, 80);
 cursor: pointer;
}

input.btn:hover{
 background-color: rgb(255, 255, 128);
 border-bottom: solid 1px rgb(200, 200, 200);
 border-right: solid 1px rgb(200, 200, 200);
 border-top: solid 1px rgb(80, 80, 80);
 border-left: solid 1px rgb(80, 80, 80);
}

input.txt {
 border-bottom: solid 1px rgb(200, 200, 200);
 border-right: solid 1px rgb(200, 200, 200);
 border-top: solid 1px rgb(80, 80, 80);
 border-left: solid 1px rgb(80, 80, 80); 
 padding: 2px;
}

table.cTableData {
  border:solid 1px gray;
  background-color:white;
  font-family:helvetica;
  font-size:9pt;
  border-collapse:collapse;
}

table.cTableData td {
  border:solid 1px black;
  padding: 2px;
}

div.cExamNTL {
  float:left;
  font-family:helvetica;
  font-size:0px;
  line-height:0px;
  width:8px;
  height:8px;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/cebdeftl.gif);
  margin:0px;
}

div.cExamNITL {
  float:left;
  font-family:helvetica;
  font-size:0px;
  line-height:0px;
  width:8px;
  height:8px;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/efbdcetl.gif);
  margin:0px;
}

div.cExamNTR {
  float:left;
  font-family:helvetica;
  font-size:0px;
  line-height:0px;
  width:8px;
  height:8px;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/cebdeftr.gif);
  margin:0px;
}

div.cExamNITR {
  float:left;
  font-family:helvetica;
  font-size:0px;
  line-height:0px;
  width:8px;
  height:8px;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/efbdcetr.gif);
  margin:0px;
}

div.cExamNBL {
  float:left;
  font-family:helvetica;
  font-size:0px;
  line-height:0px;
  width:8px;
  height:8px;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/cebdefbl.gif);
  margin:0px;
}

div.cExamNIBL {
  float:left;
  font-family:helvetica;
  font-size:0px;
  line-height:0px;
  width:8px;
  height:8px;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/efbdcebl.gif);
  margin:0px;
}

div.cExamNxBL {
  float:left;
  font-family:helvetica;
  font-size:0px;
  line-height:0px;
  width:8px;
  height:8px;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/d7d7ffbl.gif);
  margin:0px;
}

div.cExamNIxBL {
  float:left;
  font-family:helvetica;
  font-size:0px;
  line-height:0px;
  width:8px;
  height:8px;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/ffd7d7bl.gif);
  margin:0px;
}

div.cExamNBLx {
  float:left;
  font-family:helvetica;
  font-size:0px;
  line-height:0px;
  width:8px;
  height:8px;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/cebdefbl.gif);
  background-color:#d7d7ff;
  margin:0px;
}

div.cExamNIBLx {
  float:left;
  font-family:helvetica;
  font-size:0px;
  line-height:0px;
  width:8px;
  height:8px;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/efbdcebl.gif);
  background-color:#ffd7d7;
  margin:0px;
}


div.cExamNBR {
  float:left;
  font-family:helvetica;
  font-size:0px;
  line-height:0px;
  width:8px;
  height:8px;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/cebdefbr.gif);
  margin:0px;
}

div.cExamNIBR {
  float:left;
  font-family:helvetica;
  font-size:0px;
  line-height:0px;
  width:8px;
  height:8px;
  background-image:url(/web/20170702002900im_/http://www.fuvest.br/img/efbdcebr.gif);
  margin:0px;
}

div.cExamNS {
  float:left;
  font-family:helvetica;
  font-size:0px;
  line-height:0px;
  height:8px;
  background-color:#cebdef;
  margin:0px;
}

div.cExamNIS {
  float:left;
  font-family:helvetica;
  font-size:0px;
  line-height:0px;
  height:8px;
  background-color:#efbdce;
  margin:0px;
}

div.cExamNxS {
  float:left;
  font-family:helvetica;
  font-size:0px;
  line-height:0px;
  height:8px;
  background-color:#d7d7ff;
  margin:0px;
}

div.cExamNIxS {
  float:left;
  font-family:helvetica;
  font-size:0px;
  line-height:0px;
  height:8px;
  background-color:#ffd7d7;
  margin:0px;
}


div.cExamN {
  font-family:helvetica;
  font-size:10px;
  background-color:#cebdef;
  margin:0px;
}

div.cExamNI {
  font-family:helvetica;
  font-size:10px;
  background-color:#efbdce;
  margin:0px;
}

div.cExamNx {
  font-family:helvetica;
  font-size:10px;
  background-color:#d7d7ff;
  margin:0px;
}

div.cExamNIx {
  font-family:helvetica;
  font-size:10px;
  background-color:#ffd7d7;
  margin:0px;
}

p.cNExame {
  font-family:helvetica;
  font-size:12pt;
  font-weight:bold;
  margin:0px;
}

p.cEExame {
  font-family:helvetica;
  font-size:9pt;
  font-style:italic;
  text-align:justify;
  line-height:130%;
  margin:0px;
}

a.cMensagem {
  display:block;
  background-color:transparent;  
  text-decoration:none;
  color:black;
  padding:4px;
}

a.cMensagem:hover {
  background-color:rgb(255,255,200);
  text-decoration:none;
}

.fuvTitle {
  font-family:helvetica;
  font-size:16pt;
  font-weight:bold;
  margin:0px 0px 2px 0px;
}

p.fuvSubTitle {
  font-family:helvetica;
  font-size:12pt;
  font-weight:bold;
  margin:0px 0px 2px 0px;
}

p.fuvSubTitle2 {
  font-family:helvetica;
  font-size:11pt;
  font-weight:bold;
  margin:0px 0px 2px 0px;
}

input.cFormButton{
 color:black;
 padding:4px 10px 4px 10px;
 background-color:rgb(240,240,255);
 font-family:helvetica;
 font-size:12pt;
 font-weight:bold;
 border-top: solid 1px rgb(200, 200, 200);
 border-left: solid 1px rgb(200, 200, 200);
 border-bottom: solid 1px rgb(80, 80, 80);
 border-right: solid 1px rgb(80, 80, 80);
 cursor: pointer;
}

input.cFormButton:hover{
 background-color:rgb(255,240,240);
 border-bottom: solid 1px rgb(200, 200, 200);
 border-right: solid 1px rgb(200, 200, 200);
 border-top: solid 1px rgb(80, 80, 80);
 border-left: solid 1px rgb(80, 80, 80);
}

.formButton {
  display: block;
  float: left;
  height: 24px;
  padding: 2px;
  margin: 0px;
  font-family: helvetica;
  font-weight: medium;
  font-size: 10pt;
  color: black;
  border-top: solid 1px silver;
  border-left: solid 1px silver;
  border-bottom: solid 1px gray;
  border-right: solid 1px gray;
  margin-bottom: 2px;
  margin-right: 10px;
  background-color: white;
  cursor: pointer; 
}

.formButton:hover {
  display: block;
  float: left;
  height: 24px;
  padding: 3px 1px 1px 3px;
  margin: 0px;
  font-family: helvetica;
  font-weight: medium;
  font-size: 10pt;
  color: black;
  border-top: solid 1px gray;
  border-left: solid 1px gray;
  border-bottom: solid 1px silver;
  border-right: solid 1px silver;
  margin-bottom: 2px;
  margin-right: 10px;
  background-color: rgb(200,200,255);
  cursor: pointer; 
}

div.cEditDiv {
  clear: both;
  height: 100%;
  border: none;
  margin: 0px 0px 2px 0px;
}

div.cEditDivLarge {
  clear: both;
  height: 100%;
  border: none;
  margin: 0px 0px 2px 0px;
}

label.formLabelLarge {
  width: 400px;
  height: 20px;
  padding:0px;
  font-family: helvetica;
  font-weight: bold;
  font-size: 11pt;
  color: black;
  margin-bottom: 2px;
}

p.cFormLabel {
  margin:0px;
  font-size:10pt;
  font-weight:bold;
  font-family:helvetica;
  margin-bottom:2px;
}

label.formLabel1 {
  display: block;
  float: left;
  width: 40px;
  height: 20px;
  padding-right: 6px;
  padding-top: 4px;
  font-family: helvetica;
  font-weight: bold;
  font-size: 11pt;
  color: black;
  text-align: right;
  margin-bottom: 2px;
}

label.formLabel2 {
  display: block;
  float: left;
  width: 70px;
  height: 20px;
  padding-right: 6px;
  padding-top: 4px;
  font-family: helvetica;
  font-weight: bold;
  font-size: 11pt;
  color: black;
  text-align: right;
  margin-bottom: 2px;
}

select.cFormSelect {
  height: 26px;
  padding: 2px;
  margin: 0px;
  font-family: helvetica;
  font-weight: bold;
  font-size: 10pt;
  color: black;
  border-top: solid 1px gray;
  border-left: solid 1px gray;
  border-bottom: solid 1px silver;
  border-right: solid 1px silver;
  margin-bottom: 2px;
  margin-right: 10px;
}

.formSelect {
  display: block;
  float: left;
  height: 22px;
  padding: 0px;
  margin: 0px;
  font-family: helvetica;
  font-weight: bold;
  font-size: 10pt;
  color: black;
  border-top: solid 1px gray;
  border-left: solid 1px gray;
  border-bottom: solid 1px silver;
  border-right: solid 1px silver;
  margin-bottom: 2px;
  margin-right: 10px;
}

div.cVerifyError {
  display: block;
  float: left;
  width: 280px;
  height: 24px;
  margin-bottom: 2px;
}

p.cVerifyError {
  font-family: helvetica;
  font-size: 8pt;
  font-weight: bold;
  color:maroon;
  padding: 2px;
  padding-left: 10px;
  border: none;
}

p.cVerifyOk {
  font-family: helvetica;
  font-size: 10pt;
  font-weight: bold;
  color:navy;
  padding: 2px;
  padding-left: 10px;
}

label.formLabel {
  display: block;
  float: left;
  width: 164px;
  height: 20px;
  padding-right: 6px;
  padding-top: 4px;
  font-family: helvetica;
  font-weight: bold;
  font-size: 11pt;
  color: black;
  text-align: right;
  margin-bottom: 2px;
}

.formEdit {
  display: block;
  float: left;
  height: 18px;
  padding: 2px;
  margin: 0px;
  font-family: helvetica;
  font-weight: bold;
  font-size: 12pt;
  color: black;
  border-top: solid 1px gray;
  border-left: solid 1px gray;
  border-bottom: solid 1px silver;
  border-right: solid 1px silver;
  margin-bottom: 2px;
  margin-right: 10px;
}

p.boletoSmallHead {
  margin: 0px;
  padding: 2px;
  font-family: helvetica; 
  font-size: 9px; 
  font-weight: bold;
}
p.boletoSmallHeadR {
  margin: 0px;
  padding: 0px;
  padding-top: 2px;
  font-family: helvetica; 
  font-size: 9px; 
  text-align: right; 
  font-weight: bold;
}

p.boletoValues {
  margin: 0px;
  padding: 3px;
  font-family: helvetica;
  font-size: 16px; 
  font-weight: normal;
}

p.boletoSmallValues {
  margin: 0px;
  padding: 3px;
  font-family: helvetica;
  font-size: 10px; 
  font-weight: normal;
}

p.boletoValuesR {
  margin: 0px;
  padding: 3px;
  font-family: helvetica;
  font-size: 18px; 
  font-weight: bold;
  text-align: right;
}

p.formDivisao {
  font-weight:bold;
  font-size:16pt;
  font-family:helvetica;
  border-bottom:solid 2px black;
  margin:5px 0px 10px 0px;
}

p.cITitle {
  font-family:Verdana;
  font-size:16pt;
  font-weight:bold;
  margin:0px 0px 10px 0px;
}

label.cILabel {
  display:block;
  padding:2px 0px 2px 0px;
  font-family:helvetica;
  font-weight:bold;
  font-size:14pt;
  color:black;
  margin:10px 0px 0px 0px;
}

p.cIError {
  margin:0px 0px 5px 0px;
  font-family:helvetica;
  font-style:italic;
  font-size:8pt;
  padding:0px 0px 0px 0px;
  border-bottom:solid 1px black;  
}

p.cIDefault {
  margin: 5px 0px 5px 0px;
  font-family:helvetica;
  font-size:10pt;
  text-align:justify;
}

select.cISelect {
  display:block;
  padding:2px;
  margin:0px;
  font-family:helvetica;
  font-weight:bold;
  font-size:12pt;
  color: black;
  border-top: solid 1px gray;
  border-left: solid 1px gray;
  border-bottom: solid 1px silver;
  border-right: solid 1px silver;
}

input.cIEdit {
  display:block;
  padding:2px;
  margin:0px;
  font-family:helvetica;
  font-weight:bold;
  font-size:12pt;
  color: black;
  border-top: solid 1px gray;
  border-left: solid 1px gray;
  border-bottom: solid 1px silver;
  border-right: solid 1px silver;
}

span.cILabel {
  display:block;
  padding:2px;
  margin:0px;
  font-family:helvetica;
  font-weight:bold;
  font-size:12pt;
  color: black;
}


p.cISubTitle {
  font-family:Verdana;
  font-size:12pt;
  font-weight:bold;
  margin:5px 0px 5px 0px;
}


p.cISubTitle2 {
  font-family:Verdana;
  font-size:11pt;
  font-weight:bold;
  margin:5px 0px 5px 0px;
}

p.cURLEdital {
  margin:10px 0px 0px 0px;
  font-size:12pt;
  text-align:right;
}

p.cLargeCheckBox {
  font-size:12pt;
  margin:10px 0px 10px 0px;
  font-weight:bold;
  text-align:center;
}

p.cCaption {
  font-size:12pt;
  margin:4px 0px 0px 0px;
  font-family:helvetica;
  font-weight:bold;
}

p.cCaptionL1 {
  font-size:12pt;
  margin:4px 0px 0px 20px;
  font-family:helvetica;
  font-weight:bold;
}

p.cData {
  font-size:12pt;
  margin:0px 0px 0px 20px;
  font-family:helvetica;
}

p.cDataL1 {
  font-size:12pt;
  margin:0px 0px 0px 40px;
  font-family:helvetica;
}

a.cButton {
  padding:2px 5px 2px 5px;
  border-top:solid 1px silver;
  border-left:solid 1px silver;
  border-right:solid 1px gray;
  border-bottom:solid 1px gray;
  text-decoration:none;
  background-color:rgb(255,255,200);
}

a.cButton:hover {
  padding:3px 4px 1px 6px;
  border-top:solid 1px gray;
  border-left:solid 1px gray;
  border-right:solid 1px silver;
  border-bottom:solid 1px silver;
  text-decoration:none;
  background-color:rgb(255,200,200);
}

a.cMenu {
  color:white;
  text-decoration:none;
}

a.cMenu:hover {
  color:black;
  background-color:rgb(255,220,220);
}

p.cEdit {
  font-family:helvetica;
  font-size:16pt;
  font-weight:bold;
  margin:6px 0px 2px 0px;
}

input.cEdit, textarea.cEdit, select.cEdit {
  padding:3px;
  font-family:helvetica;
  font-size:16pt;
  border:solid 1px maroon;
  background-color:white;
}

input.cBEdit {
  padding:3px;
  font-family:helvetica;
  font-size:16pt;
  border-top:solid 2px red;
  border-left:solid 2px red;
  border-bottom:solid 2px maroon;
  border-right:solid 2px maroon;
  background-color:rgb(220,220,255);
  cursor:pointer;
}

input.cBEdit:hover {
  border-top:solid 2px maroon;
  border-left:solid 2px maroon;
  border-bottom:solid 2px red;
  border-right:solid 2px red;
  background-color:rgb(255,220,220);
}

p.cFUVTitle {
  color:white;
  font-family:impact;
  font-size:28px;
  margin:0px;
  padding:0px;
  text-shadow:2px 2px 1px gray;
}

p.cP100 {
  position:relative;
  z-index:100;
}

p.cP100a {
  position:absolute;
  z-index:100;
}

a.cASButton {
  display:block;
  float:left;
  width:13px;
  height:18px;
}

a.cASButton:hover {
  width:11px;
  height:16px;
  background-color:rgb(255,200,200);
  border-top:solid 1px gray;
  border-left:solid 1px gray;
  border-bottom:solid 1px white;
  border-right:solid 1px white;  
}

div.cHint {
  height:30px;
  font-size:8pt;
  border-bottom:solid 1px gray;
  clear:both;
  margin:0px 0px 2px 00px;
}

label.cFormLabel {
  font-family:helvetica;
  font-weight:bold;
  font-size:12pt;
  color:black;
  margin: 0px 0px 0px 0px;
  display:block;
}

input.cFormEdit {
  font-family:helvetica;
  font-size:10pt;
  color:black;
  margin: 0px 0px 0px 0px;
  display:block;
  border:solid 1px gray;
  padding:2px;
}

input.cFormEditI {
  font-family:helvetica;
  font-size:10pt;
  color:black;
  margin: 0px 0px 0px 0px;
  border:solid 1px gray;
  padding:2px;
}

input.cFormSelect {
  font-family:helvetica;
  font-size:10pt;
  color:black;
  margin: 0px 0px 0px 0px;
  display:block;
  border:solid 1px gray;
  padding:2px;
}

div.cVerify {
  display:block;
  height:24px;
  margin:0px 0px 0px 0px;
  font-size:9pt;
  font-weight:bold;
}

label.cIsenLabel {
  height:20px;
  padding:2px 0px 2px 0px;
  font-family:helvetica;
  font-weight:bold;
  font-size:14pt;
  color:black;
  margin-bottom:2px;
  display:block;
}

select.cIsenSelect {
  display:block;
  padding:4px;
  height:32px;
  width:750px;
  font-family:helvetica;
  font-size:12pt;
  border-top:solid 1px gray;
  border-left:solid 1px gray;
  border-bottom:solid 1px silver;
  border-right:solid 1px silver;
}

div.cIsenVerify {
  font-family:helvetica;
  font-style:italic;
  font-size:10pt;
  display:block;
  padding:2px;
  width:750px;
}


div.fDIVMenu {
  float:left;
  height:14px;
  border-radius:4px;
  padding:4px 4px 4px 4px;
  font-size:9pt;
  cursor:pointer;
  font-weight:bold;
  margin:6px 0px 0px 5px;
}

div.fDIVMenu:hover {
  background-color:rgba(255,255,220,0.5);
}

div.fDIVMenuH {
  height:14px;
  border-radius:4px;
  padding:4px;
  font-size:10pt;
  cursor:pointer;
  background-color:rgba(255,255,220,0.5);
}

div.fDIVMenu a {
  color: black;
}

div.fDIVMenu a:hover {
  text-decoration:none;
}

div.fSMenu {
  border:solid 1px black;
  border-radius:4px;
  box-shadow:5px 5px 5px #888888;
  background-color:rgba(230,230,255,0.9);
  margin:0px;
  padding:2px;
  font-size:9pt;
}

div.fSMenu a {
  color:black;
  display:block;
  height:16px;
  padding:2px 4px 0px 4px;
}

div.fSMenu a:hover {
  border: solid 1px gray;
  background-color:rgb(200,200,255);
  height:14px;
  border-radius:4px;
  text-decoration:none;
}

div.fOutros {
  width:650px;
  padding:10px;
  background-color:#ffffc0;
  border-radius:8px;
}

div.fOutrosHL {
  width:650px;
  padding:10px;
  background-color:#ffff70;
  border-radius:8px;
  border:solid 1px gray;
}

p.fCabec {
  font-family:Impact;
  font-size:24px;
  text-shadow: -1px -1px gray, -1px 1px gray, 1px -1px gray, 2px 2px #555;
  vertical-align: middle;
  letter-spacing:1px;
}

p.fCabec a {
  color:white;
  text-decoration:none;
}

div.fAvisoAno {
  font-family:Lato;
  position:relative;
  font-size:14px;
  text-align:justify;
  line-height:150%;
  border-radius:8px;
  margin:10px 15px 10px 10px;
  padding:4px;
  background-color:rgb(255,220,220);
  padding:10px;
  box-shadow:0 3px 3px rgba(0,0,0,0.2);  
}

div.fAvisoAno p {
  margin:0px;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none; 
  font-size:0.4em;
  margin-right:1em;
  color: #666;
  font-weight:bold;
}

.dropdown-content a {
  color:black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a.cMenuDrop {
  padding:5px;
  text-decoration:none;
}

a.cMenuDrop:hover {
  padding:5px;
  color:white;
  background-color:black;
}

p.cMenuDrop {
  padding:5px;
  margin:0px;
}

p.cMenuDrop:hover {
  padding:5px;
  margin:0px;
  color:white;
  background-color:black;
}


span.cNavBut:disabled,button.cNavBut[disabled] {
  background:gray;
  cursor:not-allowed;
}

span.cNavBut {
  font-family:FontAwesome;
  padding:2px;
  width:20px;
  height:20px;
  background-color:rgb(30,48,70);
  cursor:pointer;
  font-size:20px;
  text-align:center;
  color:white;
  border:solid 1px white;
  display:inline-block;
}

span.cNavBut:hover {
  background-color:maroon;
}  

div.cBackTransp {
  float:left;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  transition:0.4s ease-in-out;
  cursor:pointer;
}  

div.cBackTransp:hover {  
  background-color:rgba(255,255,255,0.10);
}
/*
     FILE ARCHIVED ON 00:29:00 Jul 02, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:50:55 Jun 05, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  RedisCDXSource: 0.978
  esindex: 0.013
  PetaboxLoader3.datanode: 77.717 (4)
  LoadShardBlock: 179.452 (3)
  CDXLines.iter: 24.636 (3)
  load_resource: 183.772
  captures_list: 210.319
  exclusion.robots.policy: 0.257
  PetaboxLoader3.resolve: 264.857 (2)
  exclusion.robots: 0.277
*/